.container {
	padding-top: 150px;
	width: 95%;
}

.listings {
	border-radius: 5px;
	background: dimgrey;
	padding-top: 5px;
	margin: 0 auto;
}
.listings h2 {
	letter-spacing: -1px;
	color: white;
	margin-left: 15px;
}
.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 10px;
}
.scroller {
	overflow: scroll;
	height: 655px;

}

div.create {
	width: 100%;
	display: inline-block;
	margin:0 auto;
	padding: 10px;
	background: darkgrey;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}
div.flex input {
	width: 300px;
}

.flex .list-form {
	max-width: 260px;
}
.update {
	
	border-radius: 5px;
}

.update-list {
	max-width: 608px;
	background: white;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid dimgrey;
}


label {
	font-weight: bold;
	font-family: sans-serif;
}
.italic{
	font-style: italic;
}
p.italic{
	text-align: right;
}
.img label, .item label, .word label, .desc label, .price label, .location label {
	font-size: medium;
}

.img {
	max-width: 260px;
	display: inline-block;
}

.group-3 textarea, .desc textarea {
	max-width: 260px;
	margin:0 auto;
	height: 45px;
}
.group-1 {
	width: 300px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin:0 auto;
	margin-bottom: 5px;
}

.group-2 {
	width: 300px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin:0 auto;
	margin-bottom: 5px;
}
div.container {
	margin:0 auto;
	
}

fieldset.wood {
	background: url("/assets/wood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	color: ghostwhite;
	text-shadow: 1px 1px black, 
		1px 1px black, 
		1px -1px black, 
		-1px 1px black;
	margin: 0 auto;
	border: 6px darkgoldenrod outset;
	padding: 0px 40px 60px;
	margin-top: 10px;
}

.in-field{
	background: #202020;
	border: 6px double darkgoldenrod;
	padding: 0px 25px 0px 25px;
}

.list-submit {
	width:100px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: black;
	border: 1px solid black;
	float: right;
}

.group-3 {
	max-width: 280px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin:0 auto;
	margin-bottom: 5px;
	
}

.img2 {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin:0 auto;
	padding: 5px;
	margin-right: 10px;
}

.img2 img {
	width: 100%;
}

.date {
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: right;
	
}

.prodId {
	padding-bottom: 5px;
	margin: 0 auto;
	
}

input.update-button {
	width: 100px!important;
	height: 25px;
	border-radius: 5px;
	background-color: #393939;
	color: white;
	font-weight: bold;
	border: 1px solid #393939;
	display: inline-block;
	vertical-align: top;

}
button.delete {
	width: 100px;
	height: 25px;
	border-radius: 5px;
	color: white;
	background-color: #940000;
	font-weight: bold;
	border: 1px solid #940000;
	display: inline-block;

}


.edit-labels{
	color: darkblue;
}

@media only screen and (max-width: 480px) {
	.preview {
		font-size: 2em;
	}
	.list-submit {
		margin-left: 46px;
		margin-top: 15px;
		margin-bottom: 10px;
		float: none;
	}
}