ul li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

ul {
	margin:0 auto;
	text-align: left;
	padding-left: 20px;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;

}

p {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	font-weight: bold;
	padding-top: 15px;
	padding-left: 20px;
	color: white;
	
}



.prod-links {
	display: inline;
	padding-left: 20px;
	background: #393939;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	margin: 0 auto;
	height: 45px;
	margin-top: 70px;
	position: fixed;
	width: 100%;
}

ul li a{
	border-bottom: none!important;
}

ul li a:hover{
	border-bottom: 3px solid #BEAB80!important;
	color: white;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 0px black,
		1px -1px 0px black,
    	-1px 1px 5px black,
    	1px 1px 5px black;

}

li.bar {
	color:white;
	text-shadow: 1px 1px 0px black,
		1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
}

a:visited{
	text-decoration: none;
}
button {
	width:100px;
	height: 25px;
	border: 3px;
	color: white;
	font-weight: bold;
	background-color: #333399;
	text-shadow: 1px 1px black;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 12px;
	
}

.nav-bar {
	display: none;
}
@media only screen and (max-width: 480px) {
	.prod-links {
		font-size: small;
		padding-left: 0px!important;
		margin-top: 100px;
	}
	button {
		width: 70px;
	}

}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.prod-links {
		margin-top: 100px;
		
	}	
}
