<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    
	    
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="parallax-container">
			<div class="parallax">

				<div class="mask rgba-white-light">
					<div class="container flex-center text-center">
						<div class="row mt-5">
							<div class="col-md-12 wow fadeIn mb-3">
								<div class="background display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">
									<h1 class="title small">The World's Next Best</h1>
									<h1 class="title bold">Luxury Experience</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<section class="intro">
				<h1>Welcome to the Club</h1>
				<p>Find exclusive products and services from our Diamond Club members. List your items, buy and sell with members from across the globe. We feature the best of the best and aim to suit your luxury needs.</p>
			</section>

			<div class="flex">
				<div class="group">
					<div class="featured">
						<h2>Featured Listing</h2>
						<div class="width">
							<img [src]="featuredProduct.image">
						</div>
						
							<div class="feature-headline">
								
							<h3>{{featuredProduct.title}}</h3>
							</div>
							<p class="highlights">{{featuredProduct.highlights | uppercase}}</p>
							<p class="desc">{{featuredProduct.description}}</p>
							<h2 class="price">Valued at: {{featuredProduct.price | currency : fractionalized}}</h2>
							<p class="location">{{featuredProduct.location}}</p>
					</div>
					<div class="agents">
						<h2>Our Agents</h2>
						<div class="width">
							<img src="../../assets/business.jpg">
						</div>
						<p><span style="font-weight: bold">Do you need an agent to broke your deal?</span> We have a number of skilled and quality professionals with integrity and market knowledge on your side.</p>
					</div>
				</div>
				<div class="logreg">
					<div class="login" id="login">
						<form (submit)="login()">
							<h3>Sign in to your Club of Diamonds Account</h3>
							<div class="border">
								<input type="text" name="email" placeholder="E-Mail" 
									required
									class="form-control" 
									[(ngModel)]="user.email"
									#email = "ngModel"
									/>
								<input type="password" name="password" placeholder="Password" 
									required
									class="form-control" 
									[(ngModel)]="user.password"
									#password = "ngModel"
									/>
								<input class="login-button" type="submit" value="Log Me In">
								<div *ngIf="loginErr"><p class="error">{{ loginErr }}</p></div>
								<div class="login-line"><hr></div>
								<div class="reset"><span style="color:black">Help: </span><a href="#">Reset Your Password</a></div>
							</div>
						</form>
					</div>
					<div class="register">
						<div class="reg-border">
							<p>Don't have an account yet? Join the Club! </p>
							<button class="btn btn-info btn-md" (click)="openModal()">Register Here</button>
						</div>
						<div class="backdrop" [ngStyle]="{'display':display}"></div>
						<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
							<div class="modal-dialog" role="document">
								<div class="modal-content reveal-modal">
									<div class="modal-header">
										<div><button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button></div>
										<div class="modal-title">
											<p class="signup">Sign up <span>Become an exclusive member.</span></p>
										</div>
									</div>
									<div class="modal-body">

										<div *ngIf="regErr"><p class="error">{{ regErr }}</p></div>
										<p class="details">Your personal details</p>
										<form (submit)="register()" #formRegister='ngForm'>
											<div *ngIf='firstname.errors || lastname.errors && (firstname.dirty || firstname.pristine)'>Please include your first and last name.</div>
											<input type="text" name="firstname" class="form-control" 
											  required
											  minlength="2"
											  maxlength="24"
											  placeholder="First Name" 
											  [(ngModel)]='newUser.firstname'
											  #firstname = 'ngModel'
											/>
											<input type="text" name="lastname" class="form-control"
											  required
											  minlength="2"
											  maxlength="24"
											  placeholder="Last Name" 
											  [(ngModel)]='newUser.lastname'
											  #lastname = 'ngModel'
											/>
											<p class="details">Salutation</p>
										    <div *ngIf="gender.errors && (gender.dirty || gender.untouched)">Please choose one</div>
											<label for="gender">Mr.<input type="radio" name="gender" class="form-control" value="male"
										      required
										      [(ngModel)]='newUser.gender'
										      #gender="ngModel"
										    /></label>
										    <label for="gender">Ms.<input type="radio" name="gender" class="form-control" value="female"
										      required 
										      [(ngModel)]='newUser.gender'
										      #gender="ngModel"
										    /></label>
										    <p class="details">Contact Information</p>
										    <div *ngIf="phone.errors || email.errors && (phone.dirty || phone.pristine)">Please enter your phone and email or your agent's.</div>
										    <input type="agent" name="agent" placeholder="Name of Agent (optional)" class="form-control"
										      [(ngModel)]='newUser.agent'
										      #agent="ngModel"
										    />
										    
										    <input type="tel" name="phone" placeholder="Cell Number: xxx-xxx-xxxx" class="form-control"
										      required
										      maxlength="13" 
										      minlength="9" 
										      pattern="^([0-9]{3}-[0-9]{3}-[0-9]{4})$" 
										      [(ngModel)]='newUser.phone'
										      #phone="ngModel"
										    />
										    
										    <input type="text" name="email" placeholder="Email" class="form-control"
										      required
										      minlength="8"
										      pattern='^([a-zA-Z0-9+._-]+@[a-zA-Z0-9+._-]+\.[a-zA-Z]+)$' 
										      [(ngModel)]='newUser.email'
										      #email='ngModel'
										    />
										    
										    <div *ngIf="email.errors && (email.dirty || email.touched)">Email must follow format user@domain - ex.'jsmith123@example.com'</div>
										    <br>
										    <p class="details">Create password</p>
										    <div class="form-group">
											    <input type="password" name="password" class="form-control" placeholder="Choose a Password" 
											      required
											      minlength="8" 
											      pattern='^([a-zA-Z0-9@*#]{8,16})$'
											      validateEqual="confirm"
											      reverse="true"
											      [(ngModel)]="newUser.password"
											      #password="ngModel"
											    />
											    <div *ngIf="password.errors && (password.dirty || password.touched)">Must be at least 8 characters</div>
											</div>
										    <div class="form-group">
											    <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" 
											      required 
											      validateEqual="password"
											      reverse="false"
											      [(ngModel)]="newUser.confirm"
											      #confirm="ngModel"
											    />
										    	<div *ngIf="confirm.errors && (confirm.dirty || confirm.touched)">Passwords do not match</div>
											</div>
										    <div>
										    	<p>By clicking Register, you agree to our <a href="#">Terms of Use</a> and that you have read our <a href="#">Privacy Policy</a></p>
										    </div>
										    <input class="reg-submit" type="submit" value="Register">
										    <br>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="story">
						<h2>Latest Stories</h2>
						<p class="headline">2018 looks like a boom time for billionaires</p>
						<p class="summary">CNBC's Robert Frank takes a look at what to expect in the world of luxury next year, including Jeff Bezos' ranking as the wealthiest person in the world.</p>
						<iframe frameborder="0" src="https://player.cnbc.com/p/gZWlPC/cnbc_global?playertype=synd&byGuid=3000681775" width="100%" height="245" type="application/x-shockwave-flash" scrolling="no"allowFullScreen="true" bgcolor="#131313"></iframe>
						<p><a href="https://www.cnbc.com/video/2017/12/26/2018-boom-time-for-billionaires.html?__source=cnbcembedplayer">Here's why 2018 looks like a boom time for billionaires</a> from <a href="//www.cnbc.com/?__source=cnbcembedplayer">CNBC</a>.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax2-container">
			<div class="parallax2">
				<div class="mask2 rgba-white-light">
					<div class="container flex-center text-center">
						<div class="row mt-5">
							<div class="col-md-12 wow fadeIn mb-3">
								<div class="background display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>