
	<head>
	    <meta charset="utf-8">
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	</head>
	<body>
<div class="navbar navbar-fixed-top top-bar">
	<div class="container">
		<div class="navbar-header">
			<h1><i class="fa fa-diamond"></i> Club of Diamonds</h1>
		</div>
		<ul class="top-links">
			<li><a href="#">About</a></li>
			<li> | </li>
			<li><a href="#">Contact</a></li>
			<li> | </li>
			<li><a href="#login">Sign In/Register</a></li>	
		</ul>
	</div>
</div>
	


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>	


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	   
		
	<!-- </body> -->
<router-outlet></router-outlet>

<div class="footer-bar">
	<div class="container">
		<p>Sign up for our newsletter </p><input type="email" name="email" placeholder="Your Email Address"> <input class="newsletter" type="submit" name="submit" value="Sign Up">
		<ul class="bottom-links">
			<li><i class="fa fa-facebook"></i> Facebook</li>
			<li><i class="fa fa-twitter"></i> Twitter</li>
			<li><i class="fa fa-instagram"></i> Instagram</li>
		</ul>
		
	</div>
</div>
<div class="bottom">
	<div class="container">
		<div class="site">
			<h4>Site Links</h4>
			<li><a href="#">Home</a></li>
			<li><a href="#">Trends</a></li>
			<li><a href="#">Industry</a></li>
			<li><a href="#">Brands</a></li>
			<li><a href="#">Fashion</a></li>
			<li><a href="#">Travel</a></li>
			<li><a href="#">Tech</a></li>
		</div>
		<div class="find">
			<h4>Find Us</h4>
			<li><a href="#">Testimonials</a></li>
			<li><a href="#">Diamonds Club</a></li>
			<li><a href="#">Our Facebook Group</a></li>
			<li><a href="#">Follow us on Twitter</a></li>
			<li><a href="#">Follow us on Instagram</a></li>
		</div>
		<div class="copyright">
			Copyright © ClubofDiamonds.com
		</div>
		
	</div>
</div>
</body>