<div class="top-bar">
	<h1><i class="fa fa-diamond"></i> Club of Diamonds</h1>
	<p>Because we get it.</p>
</div>
	<div class="link-group">
		<ul class="top-links">
			<li><a href="#">About</a></li>
			<li> | </li>
			<li><a href="#">Contact</a></li>
			<li> | </li>
			<li><a href="#login">Sign In/Register</a></li>	
		</ul>
	</div>
<br>
<div class="nav-bar">
	<ul>
		<li><a href="#">HOME</a></li>
		<li> | </li>
		<li><a href="#trends">TRENDING</a></li>
		<li> | </li>
		<li><a href="#">INDUSTRY</a></li>
		<li> | </li>
		<li><a href="#">BRANDS</a></li>
		<li> | </li>
		<li><a href="#">FASHION</a></li>
		<li> | </li>
		<li><a href="#">TRAVEL</a></li>
		<li> | </li>
		<li><a href="#">TECH</a></li>
	</ul>
</div>
<router-outlet></router-outlet>

<div class="footer-bar">
	
</div>
<div class="bottom">
	
</div>